* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    

}



header h1{
    grid-area: h1;
    text-align: center;
    border-bottom: solid lightcoral;
    padding: 1.5rem;
    grid-area: h1;

}

nav{
    padding-top: 2rem;
    text-align: center;
    grid-area: nav;
    
}

nav li a{
    text-decoration: none;

}
main{
    background-image: url('img/bg.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    grid-area: main;
    /* grid-area: main; */
}

main h1{
    color: white;
}

main h3{
    color: white;
}


footer{
    grid-area: footer;
    /* margin-top: 2rem; */
    padding: 0.5rem;
    text-align: center;
    background-color: orange;
    grid-area: footer;
}


.btn-buy{
     margin: 2rem;
     padding: 0.3rem;
     border-radius: 1rem;
     height: 2.5rem;
     background-color: orange;
     border: none;
     width: 5rem;
     color: white;  
     font-weight: bold;
     
    
}

@media  screen and (min-width:600px) {
    .container{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto; 
        grid-template-areas:"h1 nav "
                            "main main"
                            "footer footer"; 
    }
    nav {
        text-align: end;
    }

    nav ul {
        display: flex;
        justify-content: end;
        align-content: start;
        list-style: none;
        padding: 0;
        gap:0.5rem ;
    }

    header h1 {
        border-right: 3px solid red;
        border-bottom: none;
        margin-bottom: -2rem;
    }

}
    
      
    /* nav {
        text-align: end;
    }
    
    nav ul {
        display: flex;
        justify-content: end;
        align-content: start;
        list-style: none;
        padding: 0;
        /* gap: 0.1rem; */
    /* }
    
    nav li {
        margin: 0; /* No extra space */
    /* }
    
    nav a {
        text-decoration: none;
        padding: 0.2rem 0.5rem; /* Adjust padding */
        
    /* }

    header {
        display: flex;
        justify-content: space-between;
    }

    header h1 {
        border-right: 1px solid red;
        border-bottom: none;
    } */ 
     
